<VirtualHost *:443>
    Servername {{ site_name }}
    SSLCertificateFile /etc/pki/tls/certs/{{ site_cert.crt | basename }}
    SSLCertificateKeyFile /etc/pki/tls/private/{{ site_cert.key | basename }}
    SSLCertificateChainFile /etc/pki/tls/certs/{{ site_cert.ca | basename }}
</VirtualHost>

